body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
  
h1 {
  text-align: center;
}

form {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #1d2c5b;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #1d2c5b;
}

@media only screen and (max-width: 600px) {
  form {
    width: 90%;
    max-width: 350px;
  }
}
.alert {
  display: none;
  background-color: #1d2c5b;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}